body, html {
    background-color: #111111;
    padding: 0px;
    margin: 0px;

    color: rgb(115, 115, 115);
    font-family: monospace;
    font-size: 20px;
}

#text-main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;

    text-align: center;
}

#static {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    
    width: 200%;
    height: 200%;

    background: transparent url("/assets/noise.png") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;

    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
      0% { transform: translate(0,0) }
     10% { transform: translate(-5%, -5%) }
     20% { transform: translate(-10%, 5%) }
     30% { transform: translate(5%, -10%) }
     40% { transform: translate(-5%, 15%) }
     50% { transform: translate(-10%, 5%) }
     60% { transform: translate(15%, 0) }
     70% { transform: translate(0, 10%) }
     80% { transform: translate(-15%, 0) }
     90% { transform: translate(10%, 5%) }
    100% { transform: translate(5%, 0) }
}